.md-divider {
  border: none;
  margin: 0;
  background: var(--md-sys-color-outline-variant);
  height: 1px;
  width: 100%;
  flex: none;
}

.md-divider--inset {
  margin-inline: var(--md-sys-spacing-4);
  width: auto;
}

.md-divider--vertical {
  width: 1px;
  height: auto;
  align-self: stretch;
}
